.gradle
/build/
/*/build/
/gradle/
/*/gradle/
.gradletasknamecache
gradle/wrapper/gradle-wrapper.properties
gradlew.bat
/android/local.properties
/local.properties


.idea/
*.iml
.project
.classpath

*.swp
