.gradle
/build/
/*/build/
/gradle/
/*/gradle/
.gradletasknamecache
gradlew.bat
/android/local.properties
/local.properties


.idea/
*.iml
.project
.classpath

*.swp

# Ignore mock resource
api/src/main/resources/replies.json
